
*{
    margin: 0px;
    padding: 0px;
}
/* }
#hero{
    max-width: 1220px;
    background-image: url('Hero-bg.png');
    margin-top: 100px;
    display: flex;
}
.hero-img{
    height: 380px;
    width: 380px;
    padding-top: 30px;
}
.img-hero{
   width: 50%;
   display: block;
   margin-right: auto;
   position: relative;
    justify-content: center;
}
.hero-container h3{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 450;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
justify-content: center;
width: 250px;
margin-top: 250px;
max-height: 50px;

display: block;
position: relative;

} */


.title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 29px;
font-weight: 550;
line-height: 31px;
letter-spacing: 0%;
margin-top: 72px;
text-align: center;
}
.subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: .7;
padding: 10px;
margin-bottom: 40px;
}


.second-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.text-1-title{
    width: 480px;
    height: 220px;
}
.text1title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 21px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
width: 390px;
margin-bottom: 10px;
}
.text1subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: .7;
width: 450px;
margin-bottom: 30px;
}
.btn{
    box-sizing: border-box;
    padding: 5px;
    width: fit-content;
}
.img-1{
    margin-left: 260px;
    height: 220px;
}


.third-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.text-2-title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 19px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
width: 490px;
margin-bottom: 10px;
}
.text-2-subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: .7;
width: 380px;
margin-bottom: 30px;
}
.btn{
    box-sizing: border-box;
    padding: 5px;
    width: fit-content;
}
.img2{
   
    width: 220px;
    height: 205px;
    
}
/* .text2title{
    width: 480px;
    height: 220px;
    margin-left: 50px;
    margin-top: 30px;
} */



.fourth-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}
.text-3-title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 22px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
width: 490px;
margin-bottom: 10px;
}
.text-3-subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 17px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: .7;
width: 480px;
margin-bottom: 30px;
}
.btn{
    box-sizing: border-box;
    padding: 5px;
    width: fit-content;
}
.img3{
   margin-left: 250px;
    width: 240px;
    height: 240px;
}
.text3{
    width: 580px;
    height: 220px;
    margin-left: 50px;
    margin-top: 30px;
}

